<div class="greybg"></div>
<footer>
    <div class="row footer-links">
        <div class="col-sm-3">
            <span>Company</span>
            <ul>
                <li>
                    <a href="http://www.datadevelopments.co.uk/about-us/" target="_blank">About Us</a>
                </li>
                <li>
                    <a href="http://www.datadevelopments.co.uk/store/products/" target="_blank">Product</a>
                </li>
                <li>
                    <a href="http://www.datadevelopments.co.uk/training/" target="_blank">Training</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-3">
            <span>Products</span>
            <ul>
                <li>
                    <a href="http://www.datadevelopments.co.uk/contact-us/" target="_blank">Contact Us</a>
                </li>
                <li>
                    <a href="http://www.datadevelopments.co.uk/terms-conditions/" target="_blank">Terms &amp; Conditions</a>
                </li>
                <li>
                    <a href="http://www.datadevelopments.co.uk/privacy-policy/" target="_blank">Privacy Policy</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-3">
            <span>User Registrations</span>
            <ul>
                <li>
                    <a href="@(SiteKeys.DomainName)account/donorregistration/@("CHA58AED96")" target="_blank">Donor Signup</a>
                </li>
                <li>
                    <a href="@(SiteKeys.DomainName)account/referrerregisteration/@("CHA58AED96")" target="_blank">Referrer Signup</a>
                </li>
                <li>
                    <a href="@(SiteKeys.DomainName)account/volunteerregistration/@("CHA58AED96")" target="_blank">Volunteer Signup</a>
                </li>
                <li>
                    <a href="@(SiteKeys.DomainName)Family/AddFamily/@("B6QZHH31")" target="_blank">Family Self Registration</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-3">
            <span>Social Bookmarks</span>
            <a href="http://www.facebook.com/pages/Data-Developments/228853790460208" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="http://twitter.com/#!/data_dev" target="_blank"> <i class="fa fa-twitter"></i></a>
        </div>
        <div class="col-sm-3">
            <div class="ftr_logo"><img src="@Url.Content("~/Content/images/data_logo.jpg")" alt=""></div>
        </div>
    </div>
    <p>
        Copyright @DateTime.Now.Year.ToString() Data Development. All Rights Reserved<br>
        Registered address: Data Developments (UK) Ltd, University of Wolverhampton Science Park, Glaisher Drive Wolverhampton WV10 9TG
    </p>
    <div class="footer-strip">
        <ul>
            <li>
                <a href="http://www.datadevelopments.co.uk/terms-conditions/" target="_blank">Legal</a>
            </li>
            <li>
                <a href="http://www.datadevelopments.co.uk/privacy-policy/" target="_blank">Privacy</a>
            </li>
            <li>
                <a href="@(SiteKeys.DomainName)account/login">Security</a>
            </li>
            <li>
                <a href="@(SiteKeys.DomainName)">My FoodBank</a>
            </li>
        </ul>
    </div>
</footer>
