@model FB.Dto.ReferrerRegisterDto
@{
    ViewData["Title"] = "Create";
}


<div class="inner-bg">
    <section class="content-header">
        <h1>
            @(!string.IsNullOrWhiteSpace(Model.BranchName)? "["+@Model.BranchName+ "] Referrer Register" : "Referrer Register")
        </h1>
    </section>
    <section class="content">
        <partial name="_Notification" />
        <div id="frm-create-donor" class="cmxform donor-form ref-frm">
            @using (Html.BeginForm("ReferrerRegisteration", "Account", FormMethod.Post))
            {
                <div id='postcodes4ukey' style='display: none;'>@SiteKeys.Postcode4uKey</div>
                <div id='postcodes4uuser' style='display: none;'>@SiteKeys.Postcode4uUser</div>
                <input asp-for="FoodbankToken" type="hidden" />
                <div class="frm-main">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-3 col-xs-12 control-label">User Name<span class="redtext">*</span> </label>
                                <div class="col-sm-9 col-xs-12">
                                    <input asp-for="UserName" name="UserName" id="UserName" class="form-control " placeholder="User Name" type="text">
                                    <span asp-validation-for="UserName" class="text-red"></span>
                                    <div style="display:none">
                                        <div class="col-lg-3 col-sm-3 control-label"></div>
                                        <div id="divError" class="col-lg-8 col-sm-8"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-3 col-xs-12 control-label">First Name<span class="redtext">*</span></label>
                                <div class="col-sm-9 col-xs-12">
                                    <input asp-for="FirstName" name="FirstName" id="FirstName" class="form-control" placeholder="First Name" type="text">
                                    <span asp-validation-for="FirstName" class="text-red"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-3 col-xs-12 control-label">Last Name<span class="redtext">*</span></label>
                                <div class="col-sm-9 col-xs-12">
                                    <input asp-for="LastName" name="LastName" id="LastName" class="form-control" placeholder="Last Name" type="text">
                                    <span asp-validation-for="LastName" class="text-red"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-3 col-xs-12 control-label">Email<span class="redtext">*</span></label>
                                <div class="col-sm-9 col-xs-12">
                                    <input asp-for="Email" name="Email" id="Email" class="form-control create-donor-country" type="text" placeholder="Email" />
                                    <span asp-validation-for="Email" class="text-red"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @*<div class="col-sm-6">
            <div class="form-group">
                <label class="col-sm-3 col-xs-12 control-label">Organisation Name<span class="redtext">*</span></label>
                <div class="col-sm-9 col-xs-12">
                    <input asp-for="OrganisationName" name="OrganisationName" id="OrganisationName" class="form-control" placeholder="Organisation Name" type="text">
                    <span asp-validation-for="OrganisationName" class="text-red"></span>
                </div>
            </div>
        </div>*@
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-3 col-xs-12 control-label">Contact Number<span class="redtext">*</span></label>
                                <div class="col-sm-9 col-xs-12">
                                    <input asp-for="ContactNumber" name="ContactNumber" id="ContactNumber" maxlength="20" class="form-control" placeholder="Contact Number" type="text">
                                    <span asp-validation-for="ContactNumber" class="text-red"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-3 col-xs-12 control-label">Profession<span class="redtext">*</span></label>
                                <div class="col-sm-9 col-xs-12">
                                    <input asp-for="Profession" name="Profession"  type="hidden" />
                                    <select asp-for="ProfessionId" name="ProfessionId" id="ProfessionId" class="form-control create-donor-country" asp-items="@((List<SelectListItem>)ViewBag.ProfessionList)"></select>
                                    <span asp-validation-for="ProfessionId" class="text-red"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                       
                    </div>
                </div>


                <div class="row auto-address">
                    <div class="col-sm-12"><h3 class="page-header">Address</h3></div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"
                                   for="Addresses_0__PostCode">Postcode<span class="redtext">*</span></label>
                            <div class="col-sm-6">
                                @if (Model.Overseas)
                                {
                                    <input asp-for="PostCode" name="PostCode" id="PostCode" class="form-control postcode" placeholder="Postcode" disabled="disabled" />
                                }
                                else
                                {
                                    <input asp-for="PostCode" name="PostCode" id="PostCode" class="form-control postcode" placeholder="Postcode" />
                                }
                            </div>
                            <div class="col-sm-3">
                                <input type="button" class="btn btn-primary ps3 btn-lookup" onclick="SearchBegin(this);" value="Lookup" />
                            </div>
                        </div>

                        <div class="form-group post-dropdown" style="display:none;">
                            <label class="col-lg-3 col-sm-3 control-label">Select Address</label>
                            <div class="col-lg-9 col-sm-9">
                                <select id="drpPostcodeAddr" style='display:none;' class="form-control dropdown">
                                    <option>Select an address:</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="Addresses_0__HouseName">House Name</label>
                            <div class="col-sm-9">
                                <input asp-for="HouseName" name="HouseName" id="HouseName" class="form-control house-name" placeholder="House Name" />
                                <span asp-validation-for="HouseName" class="text-red"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="Addresses_0__HouseNumber">House Number</label>
                            <div class=" col-sm-9">
                                <input asp-for="HouseNumber" name="HouseNumber" id="HouseNumber" class="form-control house-number" placeholder="House Number" />
                                <span asp-validation-for="HouseNumber" class="text-red"></span>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Street Name<span class="redtext">*</span></label>
                            <div class="col-sm-9">
                                <input asp-for="StreetName" name="StreetName" id="StreetName" class="form-control street-name" placeholder="Street Name" />
                                <span asp-validation-for="StreetName" class="text-red"></span>
                            </div>
                        </div>
                        @*<div class="form-group">
                                <label class="col-sm-3 control-label">Other Address Line</label>
                                <div class="col-sm-9">
                                    <input asp-for="OtherAddressLine" name="OtherAddressLine" id="OtherAddressLine" class="form-control other-address-line" placeholder="Other Address Line" />
                                </div>
                            </div>*@

                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="Addresses_0__City">City<span class="redtext">*</span></label>
                            <div class="col-sm-9">
                                <input asp-for="City" name="City" id="City" class="form-control city-auto city" placeholder="City" />
                                <span asp-validation-for="City" class="text-red"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"
                                   for="Addresses_0__CountryID">Country</label>
                            <div class="col-sm-9">
                                <select asp-for="CountryID" name="CountryID" id="CountryID" class="form-control create-donor-country" asp-items="@((List<SelectListItem>)ViewBag.CountryList)"></select>
                                <span asp-validation-for="CountryID" class="text-red"></span>
                            </div>
                        </div>
                        @*<div class="form-group">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-9">
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(model => model.Overseas)
                                            <input asp-for="Overseas" name="Overseas" id="Overseas" type="hidden">
                                            <label for="Overseas">Address is Overseas</label>
                                        </label>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
                <div class="row change-password">
                    <div class="col-sm-12"><h3 class="page-header">Account Details</h3></div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-lg-3 col-sm-3 control-label">Password<span class="redtext">*</span></label>
                            <div class="col-lg-9 col-sm-9">
                                <input asp-for="EditPassword" name="EditPassword" id="EditPassword" class="form-control random-password" placeholder="Password" type="password" />
                                <span asp-validation-for="EditPassword" class="text-red"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 col-sm-3 control-label"
                                   for="UserName">Confirm Password<span class="redtext">*</span></label>
                            <div class="col-lg-9 col-sm-9">
                                <input asp-for="ConfirmPassword" name="ConfirmPassword" id="ConfirmPassword" class="form-control userAvailbility txt-auto-complete random-password" placeholder="Confirm Password " type="password">
                                <span asp-validation-for="ConfirmPassword" class="text-red"></span>
                            </div>
                            @*<div style="display:none">
                                    <div class="col-lg-3 col-sm-3 control-label"></div>
                                    <div id="divError" class="col-lg-8 col-sm-8"></div>
                                </div>*@
                        </div>
                        <div class="form-group" style="margin-left: 20px;">
                            <label class="col-lg-3 col-sm-3 control-label" for=""> </label>
                            <div class="col-lg-9 col-sm-9">
                                <div class="checkbox">
                                    <label>
                                        <input id="password-field" class="toggle-password" name="password-field" type="checkbox">
                                        <label for="password-field">Show Password</label>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-lg-3 col-sm-3 control-label">Password Question<span class="redtext">*</span></label>
                            <div class="col-lg-9 col-sm-9">
                                <input asp-for="PasswordQuestion" name="PasswordQuestion" id="PasswordQuestion" class="form-control alpha-numeric" placeholder="Password Question" />
                                <span asp-validation-for="PasswordQuestion" class="text-red"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 col-sm-3 control-label">Password Answer<span class="redtext">*</span></label>
                            <div class="col-lg-9 col-sm-9">
                                <input asp-for="PasswordAnswer" name="PasswordAnswer" id="PasswordAnswer" class="form-control alpha-numeric" placeholder="Password Answer" />
                                <span asp-validation-for="PasswordAnswer" class="text-red"></span>
                            </div>
                        </div>

                    </div>

                </div>

                @if (!string.IsNullOrWhiteSpace(Model.BranchName))
                {
                    <div class="modal-footer">
                        <button class="btn btn-primary" id="btn-submit" type="submit">Submit &nbsp;<i class="fa fa-arrow-circle-right"></i></button>
                    </div>
                }
            }
        </div>
    </section>
</div>

@section scripts{
    <script src="~/Scripts/custom/referrer/referal-register.js"></script>
}

