
@model FB.Dto.FamilyDTo
@using System.Web;
@{
    ViewBag.Title = "New Referrals";

}

@section head{
   
   
}
<script>
    var listallerys = '';
</script>
@foreach (var appointement in ViewBag.AllergyList)
{
    <script>
        listallerys += "<option value='@appointement.Value'>@appointement.Text</option>";
    </script>
}


<section class="content-header">
    <h1>
        New Referrals
    </h1>
</section>
<section class="content">
    <partial name="_Notification" />
    <div id="frm-create-donor" class="cmxform donor-form ref-frm">
        <form method="post" novalidate="novalidate" id="myform">
            <div id='postcodes4ukey' style='display: none;'>@SiteKeys.Postcode4uKey</div>
            <div id='postcodes4uuser' style='display: none;'>@SiteKeys.Postcode4uUser</div>
            <div id="validation-summary-create-donor"></div>
            <input data-val="true" data-val-number="The field PersonID must be a number."
                   data-val-required="'Person ID' must not be empty." id="PersonID" name="PersonID"
                   type="hidden" value="0">
            <div class="frm-main">
                <div class="row">

                    <div class="col-lg-5">
                        <div class="col-sm-12 col-lg-12 col-md-12"><h3 class="page-header">General Information</h3></div>
                        <div class="form-group">
                            <label class="col-sm-3 col-xs-12 control-label" for="Title">
                                Family
                                Name<span class="redtext">*</span>
                            </label>
                            <div class="col-sm-9 col-xs-12">

                                <input asp-for="FamilyName" class="form-control" placeholder="Family Name" type="text" />
                                <span asp-validation-for="FamilyName" class="text-red"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 col-xs-12 control-label" for="Initials">Email<span class="redtext">*</span></label>
                            <div class="col-sm-9 col-xs-12">
                                <input asp-for="Email" class="form-control" placeholder="Email" type="text" />
                                <span asp-validation-for="Email" class="text-red"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 col-xs-12 control-label" for="Initials">
                                Contact
                                Number<span class="redtext">*</span>
                            </label>
                            <div class="col-sm-9 col-xs-12">

                                <input asp-for="Contactno" class="form-control" placeholder=" Contact Number" type="text" maxlength="20" />
                                <span asp-validation-for="Contactno" class="text-red"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="Forenames">Branches<span class="redtext">*</span></label>
                            <div class="col-sm-9 col-xs-12">
                                @Html.DropDownList("BranchID", (List<SelectListItem>)ViewBag.Branches, "Select branch...", new { @class = "form-control", @style = "min-width:300px" })
                                <span asp-validation-for="BranchID" class="text-red"></span>
                             
                            </div>
                        </div>


                    </div>


                    <div class="col-lg-7">
                        <div class="row auto-address">
                            <div class="col-sm-12"><h3 class="page-header">Address</h3></div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"
                                           for="Addresses_0__PostCode">Postcode<span class="redtext">*</span></label>
                                    <div class="col-sm-6">
                                        @if (Model.Overseas)
                                        {
                                            <input asp-for="PostCode" class="form-control postcode" placeholder="Postcode" disabled="disabled" />
                                            <input asp-for="OldPostCode" class="form-control postcode" placeholder="Postcode" hidden />
                                        }
                                        else
                                        {
                                            <input asp-for="PostCode" class="form-control postcode" placeholder="Postcode" />
                                        }
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="button" class="btn btn-primary ps3 btn-lookup" onclick="SearchBegin(this);" value="Lookup" />
                                    </div>
                                    <label class="col-sm-3 control-label"
                                           for="Addresses_0__PostCode"></label>
                                    <div class="col-sm-6">
                                        @if (Model.Overseas)
                                        {

                                        }
                                        else
                                        {
                                            <span asp-validation-for="PostCode" class="text-red"></span>
                                        }
                                    </div>
                                    <div class="col-sm-3">

                                    </div>
                                </div>

                                <div class="form-group post-dropdown" style="display:none;">
                                    <label class="col-lg-3 col-sm-3 control-label">Select Address</label>
                                    <div class="col-lg-9 col-sm-9">
                                        <select id="drpPostcodeAddr" style='display:none;' class="form-control dropdown">
                                            <option>Select an address:</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="Addresses_0__HouseName">House Name</label>
                                    <div class="col-sm-9">
                                        <input asp-for="HouseName" class="form-control house-name" placeholder="House Name" maxlength="50" />
                                        <span asp-validation-for="HouseName" class="text-red"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="Addresses_0__HouseNumber">House Number</label>
                                    <div class=" col-sm-9">
                                        <input asp-for="HouseNumber" class="form-control house-number" placeholder="House Number" maxlength="50" />
                                        <span asp-validation-for="HouseNumber" class="text-red"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Street Name<span class="redtext">*</span></label>
                                    <div class="col-sm-9">
                                        <input asp-for="StreetName" class="form-control street-name" placeholder="Street Name" maxlength="50" />
                                        <span asp-validation-for="StreetName" class="text-red"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="Addresses_0__City">City<span class="redtext">*</span></label>
                                    <div class="col-sm-9">
                                        <input asp-for="City" class="form-control city-auto city" placeholder="City" maxlength="50" />
                                        <span asp-validation-for="City" class="text-red"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"
                                           for="Addresses_0__CountryID">Country</label>
                                    <div class="col-sm-9">
                                        <select asp-for="CountryID" class="form-control create-donor-country" asp-items="@((List<SelectListItem>)ViewBag.CountryList)"></select>
                                        <span asp-validation-for="CountryID" class="text-red"></span>
                                    </div>
                                </div>
                                @*<div class="form-group">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-9">
                                            <div class="checkbox">
                                                <label>
                                                    @Html.CheckBoxFor(model => model.Overseas)
                                                    <input asp-for="Overseas" name="Overseas" type="hidden">
                                                    <label for="Overseas">Address is Overseas</label>
                                                </label>
                                            </div>
                                        </div>
                                    </div>*@

                            </div>
                            @*<div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Other Address Line</label>
                                        <div class="col-sm-9">
                                            <input asp-for="OtherAddressLine" class="form-control other-address-line" placeholder="Other Address Line" />
                                        </div>
                                    </div>
                                </div>*@
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                       <h3 class="page-header">Family Details</h3>
                        <div class="form-group">

                            <label class="col-sm-8 col-xs-12 control-label" for="Surname">
                                Number of
                                Family Members
                            </label>
                            <div class="col-sm-4 col-xs-12">
                                <select asp-for="TotalFamily" id="TotalFamily" class=" form-control">

                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="col-sm-8 col-xs-12 control-label" for="Surname">
                                        How Many Adults
                                    </label>
                                    <div class="col-sm-4 col-xs-12">
                                        <select asp-for="TotalAdults" class=" form-control ">
                                            <option value="0">0</option>
                                            <option value="1" selected>1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="col-sm-8 col-xs-12 control-label" for="Surname">
                                        How
                                        Many Child
                                    </label>
                                    <div class="col-sm-4 col-xs-12">
                                        <select asp-for="TotalChild" class=" form-control ">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-7">
                       <h3 class="page-header">  Family Member Information</h3>
                     
                            <div class="table-responsive ">
                                <table class="table" id="tablefamily">
                                    <thead>


                                        <tr>
                                            <th style="border-top:0px">Name<span class="redtext">*</span></th>
                                            <th style="border-top:0px">DOB<span class="redtext">*</span></th>
                                            <th style="border-top:0px;width:30%">Allergy<span class="redtext">*</span></th>
                                            <th style="border-top:0px">IsAdult</th>
                                            <th style="border-top:0px">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="subjecttable">
                                        <tr>

                                            <td><input class="form-control" placeholder="Name" name="subfamilyname" type="text" value=""></td>


                                            <td><input class="form-control  datepicker" placeholder="DD/MM/YYYY" name="subfamilydob" type="text" value=""></td>

                                            <td style=" width: 30%">
                                                <select name="SubFamilyAllergry" class="form-control family-allery select2" asp-items="@((List<SelectListItem>)ViewBag.AllergyList)" multiple="multiple"></select>
                                            </td>
                                            <td style="">
                                                <input class="control-label checkboxauldt" placeholder="Is Adult" name="subfamilyisadult" type="checkbox" value=""> IsAdult
                                            </td>
                                            <td style="">

                                                <a class="deleterow" style="display:block;">
                                                    <img src="~/Content/images/delete.png" width="22px" />
                                                </a>
                                            </td>

                                        </tr>

                                    </tbody>
                                </table>
                                </div>
                                <div class="row">
                                    <div class="col-sm-10 col-lg-10 col-md-1">
                                    </div>
                                    <div class="col-sm-12 col-lg-2 col-md-2">

                                        <button class="btn btn-primary addRow" id="" type="button">
                                            <table>
                                                <tr>
                                                    <td><span style="padding-top:15px">  Add &nbsp; &nbsp; </span> </td>
                                                    <td> <img src="~/Content/images/plus-icon.png" /></td>
                                                </tr>
                                            </table>

                                        </button>
                                    </div>
                                </div>
                                <input class=" " placeholder="IsAdult" id="subfamilyisadult2" asp-for="subfamilyisadult2" type="hidden" value="">
                                <input class=" " placeholder="IsAdult" id="SubFamilyAllergries" asp-for="SubFamilyAllergries" type="hidden" value="">
                           
                        </div>
                </div>
            </div>
            <div class="frm-footer">
                <button class="btn btn-primary" id="btn-submit" type="button">
                    Submit
                    <i class="fa fa-arrow-circle-right"></i>
                </button>
            </div>

        </form>
    </div>
    @section scripts{
        <script src="~/Scripts/plugins/select2/select2.js"></script>
        <script src="~/Scripts/plugins/input-mask/jquery.inputmask.js"></script>
        <script src="~/Scripts/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
        <script src="~/Scripts/plugins/datepicker/bootstrap-datepicker.js"></script>
        <script src="~/Scripts/custom/family/familynew.js"></script>
        <script src="~/Scripts/plugins/bootstrap-tokenfield/dist/bootstrap-tokenfield.js"></script>

    }


</section>
