
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
    <link href="~/Scripts/plugins/select2/select2.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/select2/select2-bootstrap.css" rel="stylesheet" />
    <link href="~/Content/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-switch.css" rel="stylesheet" />
    <link href="~/Content/multiple-select.css" rel="stylesheet" />

}

@section scripts{
    <script src="~/Scripts/plugins/select2/select2.js"></script>
    <script src="~/Scripts/bootstrap-switch.js"></script>
    <script src="~/Scripts/custom/User/user-index.js"></script>
    <script src="~/Scripts/plugins/postcode4u/postcodes4u.js"></script>
    <script src="~/Scripts/plugins/customize-multiple-select/jquery.multiple.select1.js"></script>
}

<section class="content-header">
    <h1>
        Users
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div id='postcodes4ukey' style='display: none;'>@SiteKeys.Postcode4uKey</div>
    <div id='postcodes4uuser' style='display: none;'>@SiteKeys.Postcode4uUser</div>
    <div class="box">
        <partial name="_Notification" />
        <div class="box-header">
            <div class="btn-group">
                <a data-toggle="modal" href="@Url.Action("CreateEdit")" data-target="#modal-create-edit-user" class="btn btn-primary">
                    Add New <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
        <div class="box-body">

            @*@if (CurrentUser.OrganisationID==null)
            {
                <div class="col-lg-4 col-sm-4 col-xs-12 filter-data" style="background: #efeded; margin:0px 0px 20px 0px;padding:10px 0px">
                    <div class="col-lg-2 col-sm-12 col-xs-12" style="margin-top:5px;">
                        <label>ORG. </label>
                    </div>
                    <div class="col-lg-4 col-sm-12 col-xs-12">
                        @Html.DropDownList("CentralOfficeID", (List<SelectListItem>)ViewBag.Organisations, "Select Organisation...", new { @class = "form-control", @style = "min-width:300px" })
                    </div>
                </div>
            }
            @if (CurrentUser.CharityID ==null)
            {
                <div class="col-lg-4 col-sm-4 col-xs-12 filter-data" style="background: #efeded; margin:0px 0px 20px 0px;padding:10px 0px">
                    <div class="col-lg-2 col-sm-12 col-xs-12" style="margin-top:5px;">
                        <label>Charity  </label>
                    </div>
                    <div class="col-lg-4 col-sm-12 col-xs-12">
                        @Html.DropDownList("CharityID", (List<SelectListItem>)ViewBag.Charities, "Select charity...", new { @class = "form-control", @style = "min-width:300px" })
                    </div>
                </div>
            }
            @if (CurrentUser.BranchID ==null)
            {
                <div class="col-lg-4 col-sm-4 col-xs-12 filter-data" style="background: #efeded; margin:0px 0px 20px 0px;padding:10px 0px">
                    <div class="col-lg-2 col-sm-12 col-xs-12" style="margin-top:5px;">
                        <label>Branch  </label>
                    </div>
                    <div class="col-lg-4 col-sm-12 col-xs-12">
                        @Html.DropDownList("BranchID", (List<SelectListItem>)ViewBag.Branches, "Select branch...", new { @class = "form-control", @style = "min-width:300px" })
                    </div>
                </div>
            }*@

            <table id="grid-user" class="table table-bordered table-hover table-striped tbl_bg_clr">
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Primary Mobile</th>
                        <th>Active</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>

        </div>
    </div>
</section>
<partial name="_Modal" model='new Modal { ID = "modal-create-edit-user", AreaLabeledId = "modal-create-edit-user-label", Size = ModalSize.Large }' />
<partial name="_Modal" model='new Modal { ID = "modal-user-accessdata-user", AreaLabeledId = "modal-user-accessdata-user-label", Size = ModalSize.Medium }' />
<partial name="_Modal" model='new Modal { ID = "modal-delete-user", AreaLabeledId = "modal-delete-user-label", Size = ModalSize.Medium }' />
<partial name="_Modal" model=' new Modal { ID="modal-create-edit-ms-user" , AreaLabeledId="modal-create-edit-ms-user-label" , Size=ModalSize.Large }' />