@{
    ViewBag.Title = "Index";
}
<!-- Main content -->
<div class="banner"><img src="@Url.Content("~/Content/images/home-header.jpg")" alt=""></div>
<div class="smart-solutions">
    Software for Churches and Charities.....
</div>
<div class="latest-news-bg">
    <h2>Latest News</h2>
    <div class="row">
        <div class="col-sm-6">
            <div class="news-col bg-white">
                <div class="news-img"><img src="@Url.Content("~/Content/images/img-1.jpg")" alt="" /></div>
                <p>
                    Discover what's new from Data Developments including the latest training announcements, upcoming open days, program updates and much more!
                </p>
                <a target="_blank" href="http://www.datadevelopments.co.uk/category/latest-news/">Read more</a>

            </div>
        </div>
        <div class="col-sm-6">
            <div class="news-col-full">
                <div class="latest-news">
                    <div class="news-small bg-green">
                        <h3>Our Products</h3>
                        <p>
                            Data Developments produce a range of software specially designed to meet the requirements of Churches and Charities across the UK when managing accounts, gift aid and administration.
                        </p>
                        <a target="_blank" href="http://www.datadevelopments.co.uk/store/products/">Read more</a>
                    </div>
                </div>
                <div class="latest-news">
                    <div class="news-small" style="background-color:#c5c565; color:#fff;">
                        <div class="col-sm-12 no-padding"><h3 style="margin-bottom:5px;">Digitalise giving</h3><p>3rd Party Services</p></div>

                        <div class="col-sm-12 no-padding" style="margin-top:10px;">
                            <img style="height:14px!important;" src="@Url.Content("~/Content/images/gocardless.png")" alt="GoCardless" />
                        </div>
                        <div class="col-sm-12 no-padding" style="text-align:right;margin-top:5px;">
                            <img style="height:30px!important;" src="@Url.Content("~/Content/images/braintree.png")" alt="Braintree" />
                        </div>
                        <div class="col-sm-12 no-padding" style="margin-top:10px;">
                            <img style="height:30px;" src="@Url.Content("~/Content/images/payter.png")" alt="Payter" />
                        </div>
                        <a href="@Url.Action("ThirdPartyIntegration")">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row marT25">
        <div class="col-sm-6">
            <div class="news-col-full">
                <div class="latest-news">
                    <div class="news-small bg-red">
                        <h3>Newsletter</h3>
                        <p>Subscribe to our free monthly online newsletter to receive all the latest news, updates and special offers, as well as information from the church and charity market directly to your inbox</p>
                        <a target="_blank" href="http://www.datadevelopments.co.uk/newsletter-subscription/">Click here to subscribe</a>
                    </div>
                </div>
                <div class="latest-news">
                    <div class="news-small bg-skyblue">
                        <h3>Accreditations</h3>
                        <p>Our software has been approved for use by the following organisations: Dioceses in the Church of England, Church of Ireland, Church of Scotland, Dioceses in the Roman Catholic Church...</p>
                        <a target="_blank" href="http://www.datadevelopments.co.uk/about-us/#accreditations">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="news-col bg-dark">
                <div class="news-img"><img src="@Url.Content("~/Content/images/img-2.jpg")" alt="" /></div>
                <h3>Training</h3>
                <p>We hold a range of training courses across the UK on our Finance, Donations and MyMembershipManager packages. All of our training has been designed to help you get the most out of your time by getting the most out...</p>
                <a target="_blank" href="http://www.datadevelopments.co.uk/training/">Read more</a>
            </div>
        </div>
    </div>
</div>

